#header {
    text-align: center;
}

#title {
    font-family: 'Rakkas', cursive;
    font-weight: normal;
    color: #ed384d;
    margin: none;
}

#description {
    font-family: 'Roboto', serif;
}

#content {
    display: flex;
}

button:focus, select:focus {
    outline: 0;
}

#button-container {
    display: block;
    width: 200;
}

#generate-button {
    margin-top: 0px;
    border-width: 0 0 5px;
    background-color: #ed384d;
    font-family: "Roboto", serif;
    color: white;
    letter-spacing: 0.8pt;
    width: 200px;
    text-align: center;
    font-weight: bold;
    padding: 15px 0px;
    font-size: 14pt;
    border-radius: 12px;
    border-color: #ed384d;
    box-shadow: 2px;
    cursor: pointer;
    transition-property: border-width, background-color, margin-top;
    transition-duration: 0.1s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

#generate-button:hover {
    background-color: #f0586a;
}

#generate-button:active {
    margin-top: 5px;
    border-width: 0 0 0px;
}

#mf {
    display: block;
}

#male, #female {
    margin-top: 10px;
    border-width: 0 0 4px;
    display: inline;
    position: relative;
    top: 2px;
    background-color: #f6f6f6;
    font-family: "Roboto", serif;
    color: black;
    text-align: center;
    width: 98px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12pt;
    border-radius: 12px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.1s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

#male:hover, #female:hover {
    background-color: white;
}

#female.pressed, #male.pressed, #female:active, #male:active {
    top: 5px;
    border-width: 0 0 1px;
}

#suffix, #prefix {
    width: 200px;
    margin-top: 5px;
    background-color: #f6f6f6;
    font-family: "Roboto", serif;
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0px 0px 6px 0px #cecece;
    padding: 10px;
    transition-property: box-shadow, background-color;
    transition-duration: 0.15s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

#suffix:focus, #prefix:focus, #prefix:hover, #suffix:hover {
    background-color: white;
    border: none;
}

#generate-button:focus {
    outline:0;
}

#label {
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
    font-family: "Roboto", serif;
    font-size: 10pt;
}

#list {
    display: inline-block;
    flex: 1;
    padding-left: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
    border-radius: 4px;
    box-shadow: inset 0px 0px 6px 0px #cecece;
}

#name {
    font-family:  'Roboto', serif;
}

#name-text {
    font-family: 'Rakkas', cursive;
    display: inline;
    font-size: 16pt;
}

#starter {
    font-family:  'Roboto', serif;
    color: #dedede;
}

body {
    background-color: #fff8db;
}
